In [1]:
import pandas as pd

# preprocessing_step-1

In [13]:
df_preprocessed_train_1 = pd.read_csv("train_preprocess-1.csv")
df_preprocessed_train_1 = df_preprocessed_train_1.drop(['fraud_reported'],axis=1)
df_preprocessed_train_1

,Unnamed: 0,months_as_customer,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,insured_relationship,...,authorities_contacted,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,injury_claim,property_claim,vehicle_claim
0,0,328,250/500,1000,1406.91,0,MALE,MD,craft-repair,husband,...,Police,5,1,YES,1,2,YES,6510,13020,52080
1,1,228,250/500,2000,1197.22,5000000,MALE,MD,machine-op-inspct,other-relative,...,Police,8,1,NaN,0,0,NaN,780,780,3510
2,2,134,100/300,2000,1413.14,5000000,FEMALE,PhD,sales,own-child,...,Police,7,3,NO,2,3,NO,7700,3850,23100
3,3,256,250/500,2000,1415.74,6000000,FEMALE,PhD,armed-forces,unmarried,...,Police,5,1,NaN,1,2,NO,6340,6340,50720
4,4,228,500/1000,1000,1583.91,6000000,MALE,Associate,sales,unmarried,...,None,20,1,NO,0,1,NO,1300,650,4550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2895,2895,265,250/500,1000,1454.43,0,FEMALE,MD,protective-serv,husband,...,Other,17,3,NO,2,3,NaN,6890,0,48230
2896,2896,163,100/300,500,1240.47,0,FEMALE,Associate,other-service,husband,...,Fire,11,3,YES,1,1,NaN,0,14020,63090
2897,2897,355,500/1000,2000,1273.70,4000000,MALE,College,other-service,husband,...,Fire,19,3,NO,2,1,NO,6280,6280,50240
2898,2898,175,500/1000,1000,1123.87,8000000,FEMALE,PhD,protective-serv,other-relative,...,Police,5,1,NaN,2,0,YES,810,810,5670
2899,2899,192,100/300,1000,1245.89,0,FEMALE,Masters,exec-managerial,wife,...,Other,19,1,NO,0,0,NaN,15320,7660,53620

In [14]:
df_preprocessed_train_1.columns

Index(['Unnamed: 0', 'months_as_customer', 'policy_csl', 'policy_deductable',
       'policy_annual_premium', 'umbrella_limit', 'insured_sex',
       'insured_education_level', 'insured_occupation', 'insured_relationship',
       'capital-gains', 'capital-loss', 'incident_type', 'collision_type',
       'incident_severity', 'authorities_contacted',
       'incident_hour_of_the_day', 'number_of_vehicles_involved',
       'property_damage', 'bodily_injuries', 'witnesses',
       'police_report_available', 'injury_claim', 'property_claim',
       'vehicle_claim'],
      dtype='object')

In [15]:
df_preprocessed_pred_1 = pd.read_csv("df_preprocessed_pred_1.csv")
df_preprocessed_pred_1

,Unnamed: 0,months_as_customer,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,insured_relationship,...,authorities_contacted,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,injury_claim,property_claim,vehicle_claim
0,0,328,250/500,1000,1406.91,0,MALE,MD,craft-repair,husband,...,Police,5,1,YES,1,2,YES,6510,13020,52080
1,1,228,250/500,2000,1197.22,5000000,MALE,MD,machine-op-inspct,other-relative,...,Police,8,1,NaN,0,0,NaN,780,780,3510
2,2,134,100/300,2000,1413.14,5000000,FEMALE,PhD,sales,own-child,...,Police,7,3,NO,2,3,NO,7700,3850,23100
3,3,256,250/500,2000,1415.74,6000000,FEMALE,PhD,armed-forces,unmarried,...,Police,5,1,NaN,1,2,NO,6340,6340,50720
4,4,228,500/1000,1000,1583.91,6000000,MALE,Associate,sales,unmarried,...,None,20,1,NO,0,1,NO,1300,650,4550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,495,261,100/300,1000,870.55,0,MALE,PhD,prof-specialty,unmarried,...,Other,19,1,NaN,0,3,NaN,13380,13380,53520
496,496,321,500/1000,2000,1344.56,6000000,MALE,Associate,machine-op-inspct,husband,...,Police,7,1,NaN,1,2,NO,520,0,4160
497,497,0,500/1000,1000,1377.04,0,MALE,College,tech-support,wife,...,Ambulance,6,4,NaN,1,1,NO,6620,6620,26480
498,498,405,250/500,500,1237.88,0,MALE,MD,exec-managerial,not-in-family,...,Police,11,1,NaN,0,0,NaN,5780,5780,52020
499,499,304,100/300,1000,1525.86,0,FEMALE,PhD,craft-repair,own-child,...,Other,2,1,YES,1,1,YES,13340,6670,53360

In [16]:
df_preprocessed_pred_1.columns

Index(['Unnamed: 0', 'months_as_customer', 'policy_csl', 'policy_deductable',
       'policy_annual_premium', 'umbrella_limit', 'insured_sex',
       'insured_education_level', 'insured_occupation', 'insured_relationship',
       'capital-gains', 'capital-loss', 'incident_type', 'collision_type',
       'incident_severity', 'authorities_contacted',
       'incident_hour_of_the_day', 'number_of_vehicles_involved',
       'property_damage', 'bodily_injuries', 'witnesses',
       'police_report_available', 'injury_claim', 'property_claim',
       'vehicle_claim'],
      dtype='object')

In [17]:
list(df_preprocessed_train_1.columns) == list(df_preprocessed_pred_1.columns)

True

Preprocessing step-1 verified as same

# preprocessing_step-2

In [18]:
df_preprocessed_train_2 = pd.read_csv("train_preprocess-2.csv")
df_preprocessed_train_2 = df_preprocessed_train_2.drop(['fraud_reported'],axis=1)
df_preprocessed_train_2

,Unnamed: 0,months_as_customer,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,insured_relationship,...,authorities_contacted,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,injury_claim,property_claim,vehicle_claim
0,0,328,250/500,1000,1406.91,0,MALE,MD,craft-repair,husband,...,Police,5,1,YES,1,2,YES,6510,13020,52080
1,1,228,250/500,2000,1197.22,5000000,MALE,MD,machine-op-inspct,other-relative,...,Police,8,1,NO,0,0,YES,780,780,3510
2,2,134,100/300,2000,1413.14,5000000,FEMALE,PhD,sales,own-child,...,Police,7,3,NO,2,3,NO,7700,3850,23100
3,3,256,250/500,2000,1415.74,6000000,FEMALE,PhD,armed-forces,unmarried,...,Police,5,1,NO,1,2,NO,6340,6340,50720
4,4,228,500/1000,1000,1583.91,6000000,MALE,Associate,sales,unmarried,...,None,20,1,NO,0,1,NO,1300,650,4550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2945,2945,265,250/500,1000,1454.43,0,FEMALE,MD,protective-serv,husband,...,Other,17,3,NO,2,3,YES,6890,0,48230
2946,2946,163,100/300,500,1240.47,0,FEMALE,Associate,other-service,husband,...,Fire,11,3,YES,1,1,YES,0,14020,63090
2947,2947,355,500/1000,2000,1273.70,4000000,MALE,College,other-service,husband,...,Fire,19,3,NO,2,1,NO,6280,6280,50240
2948,2948,175,500/1000,1000,1123.87,8000000,FEMALE,PhD,protective-serv,other-relative,...,Police,5,1,NO,2,0,YES,810,810,5670
2949,2949,192,100/300,1000,1245.89,0,FEMALE,Masters,exec-managerial,wife,...,Other,19,1,NO,0,0,YES,15320,7660,53620

In [19]:
df_preprocessed_pred_2 = pd.read_csv("df_preprocessed_pred_2.csv")
df_preprocessed_pred_2

,Unnamed: 0,months_as_customer,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,insured_relationship,...,authorities_contacted,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,injury_claim,property_claim,vehicle_claim
0,0,328,250/500,1000,1406.91,0,MALE,MD,craft-repair,husband,...,Police,5,1,YES,1,2,YES,6510,13020,52080
1,1,228,250/500,2000,1197.22,5000000,MALE,MD,machine-op-inspct,other-relative,...,Police,8,1,NO,0,0,NO,780,780,3510
2,2,134,100/300,2000,1413.14,5000000,FEMALE,PhD,sales,own-child,...,Police,7,3,NO,2,3,NO,7700,3850,23100
3,3,256,250/500,2000,1415.74,6000000,FEMALE,PhD,armed-forces,unmarried,...,Police,5,1,NO,1,2,NO,6340,6340,50720
4,4,228,500/1000,1000,1583.91,6000000,MALE,Associate,sales,unmarried,...,None,20,1,NO,0,1,NO,1300,650,4550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,495,261,100/300,1000,870.55,0,MALE,PhD,prof-specialty,unmarried,...,Other,19,1,NO,0,3,NO,13380,13380,53520
496,496,321,500/1000,2000,1344.56,6000000,MALE,Associate,machine-op-inspct,husband,...,Police,7,1,NO,1,2,NO,520,0,4160
497,497,0,500/1000,1000,1377.04,0,MALE,College,tech-support,wife,...,Ambulance,6,4,NO,1,1,NO,6620,6620,26480
498,498,405,250/500,500,1237.88,0,MALE,MD,exec-managerial,not-in-family,...,Police,11,1,NO,0,0,NO,5780,5780,52020
499,499,304,100/300,1000,1525.86,0,FEMALE,PhD,craft-repair,own-child,...,Other,2,1,YES,1,1,YES,13340,6670,53360

In [20]:
list(df_preprocessed_train_2.columns) == list(df_preprocessed_pred_2.columns)

True

Same till here, so step-2 verified

# preprocessing step-3

In [21]:
df_preprocessed_train_3 = pd.read_csv("train_preprocess-3.csv")
df_preprocessed_train_3 = df_preprocessed_train_3.drop(['fraud_reported'],axis=1)
df_preprocessed_train_3

,Unnamed: 0,policy_csl,insured_sex,insured_education_level,incident_severity,property_damage,police_report_available,insured_occupation_armed-forces,insured_occupation_craft-repair,insured_occupation_exec-managerial,...,umbrella_limit,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,injury_claim,property_claim,vehicle_claim
0,0,2.5,1,6,3,1,1,0,1,0,...,0,53300,0,5,1,1,2,6510,13020,52080
1,1,2.5,1,6,2,0,1,0,0,0,...,5000000,0,0,8,1,0,0,780,780,3510
2,2,1.0,0,7,2,0,0,0,0,0,...,5000000,35100,0,7,3,2,3,7700,3850,23100
3,3,2.5,0,7,3,0,0,1,0,0,...,6000000,48900,-62400,5,1,1,2,6340,6340,50720
4,4,5.0,1,5,2,0,0,0,0,0,...,6000000,66000,-46000,20,1,0,1,1300,650,4550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3045,3045,2.5,0,6,4,0,1,0,0,0,...,0,0,0,17,3,2,3,6890,0,48230
3046,3046,1.0,0,5,4,1,1,0,0,0,...,0,35300,0,11,3,1,1,0,14020,63090
3047,3047,5.0,1,3,3,0,0,0,0,0,...,4000000,0,0,19,3,2,1,6280,6280,50240
3048,3048,5.0,0,7,1,0,1,0,0,0,...,8000000,0,0,5,1,2,0,810,810,5670
3049,3049,1.0,0,4,4,0,1,0,0,1,...,0,0,-40300,19,1,0,0,15320,7660,53620

In [22]:
df_preprocessed_pred_3 = pd.read_csv("df_preprocessed_pred_3.csv")
df_preprocessed_pred_3

,Unnamed: 0,policy_csl,insured_sex,insured_education_level,incident_severity,property_damage,police_report_available,insured_occupation_armed-forces,insured_occupation_craft-repair,insured_occupation_exec-managerial,...,umbrella_limit,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,injury_claim,property_claim,vehicle_claim
0,0,2.5,1,6,3,1,1,0,1,0,...,0,53300,0,5,1,1,2,6510,13020,52080
1,1,2.5,1,6,2,0,0,0,0,0,...,5000000,0,0,8,1,0,0,780,780,3510
2,2,1.0,0,7,2,0,0,0,0,0,...,5000000,35100,0,7,3,2,3,7700,3850,23100
3,3,2.5,0,7,3,0,0,1,0,0,...,6000000,48900,-62400,5,1,1,2,6340,6340,50720
4,4,5.0,1,5,2,0,0,0,0,0,...,6000000,66000,-46000,20,1,0,1,1300,650,4550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,495,1.0,1,7,2,0,0,0,0,0,...,0,0,-49400,19,1,0,3,13380,13380,53520
496,496,5.0,1,5,1,0,0,0,0,0,...,6000000,0,-39100,7,1,1,2,520,0,4160
497,497,5.0,1,3,2,0,0,0,0,0,...,0,61400,-41100,6,4,1,1,6620,6620,26480
498,498,2.5,1,6,3,0,0,0,0,1,...,0,0,-46900,11,1,0,0,5780,5780,52020
499,499,1.0,0,7,2,1,1,0,1,0,...,0,0,0,2,1,1,1,13340,6670,53360

In [24]:
list(df_preprocessed_train_3.columns) == list(df_preprocessed_pred_3.columns)

True

Step-3 also verified, tomorrow see that where exactly in which step is the difference

# preprocessing step-4

In [47]:
df_preprocessed_train_4 = pd.read_csv("train_preprocess-4.csv")
df_preprocessed_train_4 = df_preprocessed_train_4.drop(['Cluster', 'Labels'],axis=1)
df_preprocessed_train_4

,Unnamed: 0,months_as_customer,policy_deductable,umbrella_limit,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,...,incident_type_Parked Car,incident_type_Single Vehicle Collision,incident_type_Vehicle Theft,collision_type_Rear Collision,collision_type_Side Collision,authorities_contacted_Fire,authorities_contacted_None,authorities_contacted_Other,authorities_contacted_Police,policy_annual_premium
0,0,1.092575,-0.383131,-0.589765,1.045020,0.846349,-1.046671,-0.836919,-0.103835,0.649063,...,0,1,0,0,1,0,0,0,1,1406.91
1,1,0.209329,1.213247,1.429979,-0.942263,0.846349,-0.621195,-0.836919,-1.401770,-1.259946,...,0,0,1,1,0,0,0,0,1,1197.22
2,2,-0.620922,1.213247,1.429979,0.366436,0.846349,-0.763020,1.065170,1.194101,1.603567,...,0,0,0,1,0,0,0,0,1,1413.14
3,3,0.456638,1.213247,1.833928,0.880967,-1.584255,-1.046671,-0.836919,-0.103835,0.649063,...,0,1,0,0,0,0,0,0,1,1415.74
4,4,0.209329,-0.383131,1.833928,1.518538,-0.945442,1.080709,-0.836919,-1.401770,-0.305441,...,0,0,1,1,0,0,1,0,0,1583.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3245,3245,0.536130,-0.383131,-0.589765,-0.942263,0.846349,0.655233,1.065170,1.194101,1.603567,...,0,0,0,1,0,0,0,1,0,1454.43
3246,3246,-0.364781,-1.181319,-0.589765,0.373893,0.846349,-0.195719,1.065170,-0.103835,-0.305441,...,0,0,0,1,0,1,0,0,0,1240.47
3247,3247,1.331051,1.213247,1.026030,-0.942263,0.846349,0.938883,1.065170,1.194101,-0.305441,...,0,0,0,0,0,1,0,0,0,1273.70
3248,3248,-0.258791,-0.383131,2.641826,-0.942263,0.846349,-1.046671,-0.836919,1.194101,-1.259946,...,0,0,1,1,0,0,0,0,1,1123.87
3249,3249,-0.108639,-0.383131,-0.589765,-0.942263,-0.723416,0.938883,-0.836919,-1.401770,-1.259946,...,0,1,0,1,0,0,0,1,0,1245.89

In [48]:
df_preprocessed_pred_4 = pd.read_csv("df_preprocessed_pred_4.csv")
df_preprocessed_pred_4

,Unnamed: 0,months_as_customer,policy_deductable,umbrella_limit,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,...,incident_type_Parked Car,incident_type_Single Vehicle Collision,incident_type_Vehicle Theft,collision_type_Rear Collision,collision_type_Side Collision,authorities_contacted_Fire,authorities_contacted_None,authorities_contacted_Other,authorities_contacted_Police,policy_annual_premium
0,0,1.077587,-0.305837,-0.499046,1.031427,0.939583,-1.009651,-0.840597,0.012329,0.523003,...,0,1,0,0,1,0,0,0,1,1406.91
1,1,0.210216,1.295405,1.583782,-0.879008,0.939583,-0.565914,-0.840597,-1.220549,-1.299307,...,0,0,1,1,0,0,0,0,1,1197.22
2,2,-0.605113,1.295405,1.583782,0.379083,0.939583,-0.713826,1.118836,1.245207,1.434158,...,0,0,0,1,0,0,0,0,1,1413.14
3,3,0.453080,1.295405,2.000348,0.873718,-1.319639,-1.009651,-0.840597,0.012329,0.523003,...,0,1,0,0,0,0,0,0,1,1415.74
4,4,0.210216,-0.305837,2.000348,1.486634,-0.725869,1.209038,-0.840597,-1.220549,-0.388152,...,0,0,1,1,0,0,1,0,0,1583.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,495,0.496448,-0.305837,-0.499046,-0.879008,-0.848968,1.061125,-0.840597,-1.220549,1.434158,...,0,1,0,1,0,0,0,1,0,870.55
496,496,1.016871,1.295405,2.000348,-0.879008,-0.476051,-0.713826,-0.840597,0.012329,0.523003,...,0,0,1,1,0,0,0,0,1,1344.56
497,497,-1.767389,-0.305837,-0.499046,1.321756,-0.548462,-0.861739,2.098552,0.012329,-0.388152,...,0,0,0,1,0,0,0,0,0,1377.04
498,498,1.745462,-1.106459,-0.499046,-0.879008,-0.758454,-0.122176,-0.840597,-1.220549,-1.299307,...,0,1,0,0,0,0,0,0,1,1237.88
499,499,0.869418,-0.305837,-0.499046,-0.879008,0.939583,-1.453389,-0.840597,0.012329,-0.388152,...,0,1,0,0,1,0,0,1,0,1525.86

In [49]:
list(df_preprocessed_train_4.columns) == list(df_preprocessed_pred_4.columns)

True

# So all the problem was there in the scaling of numeric features as in training file, it was done after training and saving Kmeans clustering model and in prediction file, it was done before using the already daved Kmeans clustering model which was trained in training file and since scaling changes order of columns, when we loaded saved trained Kmeans model, it could not identify order of columns.

# So the solution was to shift the scaling process before the clustering in training file such that it is trained to cluster already scaled data so that it can cluster easily the prediction data.