In [17]:
import pandas as pd

In [18]:
df = pd.read_csv("preprocessed_data.csv")

In [19]:
df

,Unnamed: 0,months_as_customer,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,insured_relationship,...,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,injury_claim,property_claim,vehicle_claim,fraud_reported
0,0,328,250/500,1000,1406.91,0,MALE,MD,craft-repair,husband,...,5,1,YES,1,2,<models_for_missing_values.police_report_avail...,6510,13020,52080,Y
1,1,228,250/500,2000,1197.22,5000000,MALE,MD,machine-op-inspct,other-relative,...,8,1,NO,0,0,<models_for_missing_values.police_report_avail...,780,780,3510,Y
2,2,134,100/300,2000,1413.14,5000000,FEMALE,PhD,sales,own-child,...,7,3,NO,2,3,<models_for_missing_values.police_report_avail...,7700,3850,23100,N
3,3,256,250/500,2000,1415.74,6000000,FEMALE,PhD,armed-forces,unmarried,...,5,1,NO,1,2,<models_for_missing_values.police_report_avail...,6340,6340,50720,Y
4,4,228,500/1000,1000,1583.91,6000000,MALE,Associate,sales,unmarried,...,20,1,NO,0,1,<models_for_missing_values.police_report_avail...,1300,650,4550,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2295,2295,265,250/500,1000,1454.43,0,FEMALE,MD,protective-serv,husband,...,17,3,NO,2,3,<models_for_missing_values.police_report_avail...,6890,0,48230,N
2296,2296,163,100/300,500,1240.47,0,FEMALE,Associate,other-service,husband,...,11,3,YES,1,1,<models_for_missing_values.police_report_avail...,0,14020,63090,N
2297,2297,355,500/1000,2000,1273.70,4000000,MALE,College,other-service,husband,...,19,3,NO,2,1,<models_for_missing_values.police_report_avail...,6280,6280,50240,Y
2298,2298,175,500/1000,1000,1123.87,8000000,FEMALE,PhD,protective-serv,other-relative,...,5,1,NO,2,0,<models_for_missing_values.police_report_avail...,810,810,5670,N
2299,2299,192,100/300,1000,1245.89,0,FEMALE,Masters,exec-managerial,wife,...,19,1,NO,0,0,<models_for_missing_values.police_report_avail...,15320,7660,53620,N

In [20]:
df.isnull().sum()

Unnamed: 0                     0
months_as_customer             0
policy_csl                     0
policy_deductable              0
policy_annual_premium          0
umbrella_limit                 0
insured_sex                    0
insured_education_level        0
insured_occupation             0
insured_relationship           0
capital-gains                  0
capital-loss                   0
incident_type                  0
collision_type                 0
incident_severity              0
authorities_contacted          0
incident_hour_of_the_day       0
number_of_vehicles_involved    0
property_damage                0
bodily_injuries                0
witnesses                      0
police_report_available        0
injury_claim                   0
property_claim                 0
vehicle_claim                  0
fraud_reported                 0
dtype: int64

In [21]:
class sf:
    def __init__(self,data):
        self.data=data
        
    def encode_categorical_columns(self):
        self.cat_df = self.data.select_dtypes(include=['object']).copy()
        self.cat_df['policy_csl'] = self.cat_df['policy_csl'].map({'100/300': 1, '250/500': 2.5, '500/1000': 5})
        self.cat_df['insured_education_level'] = self.cat_df['insured_education_level'].map(
            {'JD': 1, 'High School': 2, 'College': 3, 'Masters': 4, 'Associate': 5, 'MD': 6, 'PhD': 7})
        self.cat_df['incident_severity'] = self.cat_df['incident_severity'].map(
            {'Trivial Damage': 1, 'Minor Damage': 2, 'Major Damage': 3, 'Total Loss': 4})
        self.cat_df['insured_sex'] = self.cat_df['insured_sex'].map({'FEMALE': 0, 'MALE': 1})
        self.cat_df['property_damage'] = self.cat_df['property_damage'].map({'NO': 0, 'YES': 1})
        self.cat_df['police_report_available'] = self.cat_df['police_report_available'].map({'NO': 0, 'YES': 1})
        try:
            # code block for training
            self.cat_df['fraud_reported'] = self.cat_df['fraud_reported'].map({'N': 0, 'Y': 1})
            self.cols_to_drop=['policy_csl', 'insured_education_level', 'incident_severity', 'insured_sex',
                                        'property_damage', 'police_report_available', 'fraud_reported']
        except:
            # code block for Prediction
            self.cols_to_drop = ['policy_csl', 'insured_education_level', 'incident_severity', 'insured_sex',
                                 'property_damage', 'police_report_available']
        # Using the dummy encoding to encode the categorical columns to numerical one
        for col in self.cat_df.drop(columns=self.cols_to_drop).columns:
            self.cat_df = pd.get_dummies(self.cat_df, columns=[col], prefix=[col], drop_first=True)
        self.data.drop(columns=self.data.select_dtypes(include=['object']).columns, inplace=True)
        self.data= pd.concat([self.cat_df,self.data],axis=1)
        return self.data

In [22]:
s = sf(df)

In [23]:
s.encode_categorical_columns()

,policy_csl,insured_sex,insured_education_level,incident_severity,property_damage,police_report_available,fraud_reported,insured_occupation_armed-forces,insured_occupation_craft-repair,insured_occupation_exec-managerial,...,umbrella_limit,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,injury_claim,property_claim,vehicle_claim
0,2.5,1,6,3,1,NaN,1,0,1,0,...,0,53300,0,5,1,1,2,6510,13020,52080
1,2.5,1,6,2,0,NaN,1,0,0,0,...,5000000,0,0,8,1,0,0,780,780,3510
2,1.0,0,7,2,0,NaN,0,0,0,0,...,5000000,35100,0,7,3,2,3,7700,3850,23100
3,2.5,0,7,3,0,NaN,1,1,0,0,...,6000000,48900,-62400,5,1,1,2,6340,6340,50720
4,5.0,1,5,2,0,NaN,0,0,0,0,...,6000000,66000,-46000,20,1,0,1,1300,650,4550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2295,2.5,0,6,4,0,NaN,0,0,0,0,...,0,0,0,17,3,2,3,6890,0,48230
2296,1.0,0,5,4,1,NaN,0,0,0,0,...,0,35300,0,11,3,1,1,0,14020,63090
2297,5.0,1,3,3,0,NaN,1,0,0,0,...,4000000,0,0,19,3,2,1,6280,6280,50240
2298,5.0,0,7,1,0,NaN,0,0,0,0,...,8000000,0,0,5,1,2,0,810,810,5670
2299,1.0,0,4,4,0,NaN,0,0,0,1,...,0,0,-40300,19,1,0,0,15320,7660,53620